**/.gradle
**/.idea
**/__pycache__
**/devopsguru_eks_test/build
**/devopsguru_eks_test/gradle
**/test_client/venv
/devopsguru_eks_test/gradlew
/devopsguru_eks_test/gradlew.bat
/gradle/wrapper
/gradlew
/gradlew.bat
/prometheus/PermissionPolicyIngest.json
/prometheus/TrustPolicy.json
